{% extends 'base.html.twig' %}

{% block title %} Inscrire un nouvel utilisateur {% endblock %}

{% block header_title %}
    <h1> Inscrire un nouvel utilisateur </h1>
{% endblock header_title %}

{% block body %}
    {{ include('user/elements/_form.html.twig') }}

    <div class="row">
        <div class="col-12 d-flex">
            <a href="{{ path('app_user_index') }}" class="btn btn-secondary mx-1"> Retour </a>
        </div>
    </div>
{% endblock %}
